/*
    Author: firstName lastName
    Date: mm/dd/yyyy
*/
body {
    margin: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-image: url(../images/blurredBackground.jpg);
    background-size: cover;
    border-top: 10px solid #6F90AF;
}
h1, h2 {
    text-align: center;
    padding-bottom: .5em;
}
footer {
    margin-top: auto;
    padding: 2em 1em;
    background-image: url(../images/blurredBackground.jpg);
    background-size: cover;
    max-width: 100%;
    color: black;
    border-top: 8px solid #14949b;
}
blockquote {font-size: smaller;}