/* * {border: 1px solid red;} */

h1, h2 {
    color: green;
    text-align: center;
    width: 50%; 
    margin: auto;
    padding: 30px;
}

#eiffelTower, #gustave {
    display: block;
    width: 50%;
    max-width: 800px;
    margin: auto;
    border-radius: 15%;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

p {
    border: 5px dotted gray;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 30px;
}