
main section {
    max-width: 900px;
    margin: 0 auto 2rem auto;
    text-align: center;
}

/* Hours Table */

table {
    margin: 1rem auto;
    border-collapse: collapse;
    background-color: #FFFFFF;  
}

th,
td {
    text-align: center;
    padding: .75rem 1.5rem;
    border: 5px solid #fceade;
    border-left: 20px solid #fceade;
    border-right: 20px solid #fceade;    
}

th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Coolvetica', Helvetica, Arial, sans-serif;
    background-color: #A792B3;
}

td {
    background-color: #d6cbdc; 
}

.meetingTimes {
    max-width: 700px;
    margin: 1rem auto;
}
.largeImage {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 1.5rem;
}

.discordCode {
    background-color: #b092b3;
    display: block;
    width: 220px;
    max-width: 80%;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(40, 40, 40, 0.4);
}

.formImage {
    float: right;
    width: 50%;
    max-width: 350px;
    min-width: 100px;
    height: 80%;
    max-height: 400px;
    margin: 4rem 1rem 1rem 2rem;
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(40, 40, 40, 0.4); 
}

@media screen and (max-width: 800px) {
    .formImage {
        float: none;
        display: block;
        width: 80%;
        margin: 0 auto 1.5rem auto;
    }
}