 main img {
    width: 400px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    font-family: 'Coolvetica';
    color: #352B27;
    text-shadow: 0 0 10px #fff, 0 0 20px #d67766;
}

#welcomeSection img {
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: right;
}

#studyGroupSection img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: left;
}

#virtualSection img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: right;
}

#meetupSection img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: left;
}

#welcomeSection p, #virtualSection p {
    line-height: 2;
    font-size: 20px;
    margin: 1rem .5rem .5rem 0;
}

#studyGroupSection p, #meetupSection p {
    line-height: 2;
    font-size: 20px;
    margin: 1rem .5rem .5rem 0;
}

section {
    background-color: var(--background-light);
    margin: .5rem .5rem;
    margin-bottom: 100px;
    padding: 3rem;
    border: 1px solid #352B27;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(40, 40, 40, 0.5);
    overflow: auto;
}
