 main img {
    width: 400px;
    margin-bottom: 100px;
}

.largeImage {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 1.5rem;
}

.floatLeft {float: left;}

.floatRight {float: right;}




