 main img {
    width: 400px;
    margin-bottom: 100px;
}

#welcomeSection img, #virtualSection img  {
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: right;
}

#studyGroupSection img, #meetupSection img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: left;
}




