

#busyStudent {
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: right;
}

form {
    clear: both;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;

}

/* Styling for Form */

fieldset, legend {
    background-color: #f9fbfa;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #c7ddd6;
    border-radius: 5px;
}


legend {
    font-weight: bold;
    padding-left: .5rem;
    padding-right: .5rem;
}


input, select, textarea {
    width: 100%;
    padding: .25rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    margin-right: .4rem;
}

textarea {
    min-height: 100px;
}

input[type="submit"], input[type="reset"] {
    margin-top: 1rem;
    padding: .6rem;
    background-color: #7fb3a8;
    color: white;
    border: none;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #5f978c;
}