.portraitImage {
    width: 50%;
    max-width: 350px;
    min-width: 100px;
    max-height: 400px;
    margin: 4rem 1rem 1rem 2rem;
}

.formImage {
    float: right;
    width: 50%;
    max-width: 350px;
    min-width: 100px;
    height: 80%;
    max-height: 400px;
    margin: 4rem 1rem 1rem 2rem;
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(40, 40, 40, 0.4); 
}

@media screen and (max-width: 800px) {
    .formImage {
        float: none;
        display: block;
        width: 80%;
        margin: 0 auto 1.5rem auto;
    }
}