.topLeftResource, .topRightResource {
    /* Allows both sections to fit side-by-side */
    width: 45%;
    /* Overrides the global section max-width */
    max-width: none;
    min-width: 400px;
    box-sizing: border-box;
}

.topLeftResource {float: left;}

.topRightResource {float: right;}

/* Prevents the bottom section from wrapping upward */
.clearResource {clear: both;}

a {
    font-family: 'Coolvetica', Helvetica, Arial, sans-serif;
    color: #8c39ae;
    margin: 0 0.5rem;
}

a:hover {color: #C77035;}

.largeImage {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 1.5rem;
}

.centerImage {
    display: block;
    margin: auto;
}