.topLeftResource, .topRightResource {

    /* Allows both sections to fit side-by-side */
    width: 47%;

    /* Overrides the global section max-width */
    max-width: none;
    box-sizing: border-box;
}

.topLeftResource {
    float: left;
}

.topRightResource {
    float: right;
}

/* Prevents the bottom section from wrapping upward */
.clearResource {
    clear: both;
}

.resourceImage {
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: 1.5rem;
    float: right;
}

#recreation {
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

a {
    font-family: 'Coolvetica';
    color: #8c39ae;
    margin: 0 0.5rem;
}

a:hover {
    color: #C77035;
}